<script>
  var posts = [
{{- $posts := (where (where .Site.Pages "Type" "post") "Slug" "!=" "") -}}
{{- $len := (len $posts) -}}
{{- range $index, $post := $posts -}}
    {title:'{{$post.Title}}',slug:'{{$post.Slug}}'}
    {{- if (le $index (sub $len 2)) -}},{{- end -}}
{{- end -}}
  ];

  {{if eq .Type "post"}}
  var postSlug = '{{.Slug}}';
  {{else}}
  var postSlug = null;
  {{end}}
</script>

{{partial "analytics.html"}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{.Site.BaseURL}}bundle.js"></script>
