{{$params := .Params}}
{{$data := .Site.Data}}

<div class="text-white entry">
  {{if $params.thumbnail}}
    {{if eq $params.thumbnail "test"}}
    <div class="background-cover-image"
          style="background-image:url('http://lorempixel.com/1280/720?id={{.Title | md5}}')">
    </div>
    {{else}}
    <div class="background-cover-image"
          style="background-image:url('/images/thumbnails/{{$params.thumbnail}}.png')">
    </div>
    {{end}}
  {{end}}

  <div class="entry-content d-flex align-items-start flex-column">
    <a class="unstyled-link w-100 mt-auto mb-2" href="{{.Permalink}}" title="{{.Title}}">
      <h2 class="entry-title">{{.Title}}</h2>
    </a>
    <div class="w-100 d-flex entry-meta">
      <img class="avatar my-auto rounded-circle"
                src="https://www.gravatar.com/avatar/{{index $data.authors $params.author `email` | lower | md5}}?s=50"
                alt="{{$params.author}}-avatar">
      <div class="ml-2 my-auto">
        <a href="/authors/{{index $data.authors $params.author `name` | urlize}}" class="decorated-link" title="{{index $data.authors $params.author `name`}}">
          {{index $data.authors $params.author "name"}}
        </a>
        <div class="text-white-transparent">
          {{dateFormat `Jan 2, 2006` .Date}}
        </div>
      </div>
    </div>
  </div>
</div>
