<nav class="navbar navbar-toggleable-md navbar-light">
  <div class="container">

    <a class="navbar-brand"
       href="{{.Site.BaseURL}}">
      <img height="30" src="/images/logo-text.svg">
    </a>

    <button class="navbar-toggler float-right"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggler"
            aria-controls="navbarToggler"
            aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         id="navbarToggler">
      <ul class="navbar-nav ml-auto mt-2 my-lg-0">
        {{partial "header/tags.html" .}}
      </ul>
      {{partial "header/search.html" .}}
    </div>

  </div>
</nav>
