<header class="mdl-layout__header mdl-layout__header--scroll header">
  <div class="mdl-layout__header-row">

    <a class="mdl-layout-title"
       href="{{.Site.BaseURL}}">
      <img height="24" src="/images/icons/logo-text.svg">
    </a>

    <div class="mdl-layout-spacer"></div>

    <div class="mdl-textfield mdl-js-textfield header__search-textfield">
      <input class="mdl-textfield__input"
             type="text"
             id="search-input">
      <label class="mdl-textfield__label"
             for="search-input">Search...</label>

      <div class="header__search-results"
           id="search-results">
      </div>

    </div>
  </div>

</header>
