<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
  <label class="mdl-button mdl-js-button mdl-button--icon"
         for="search-input">
    <img class="icon" src="/images/icons/magnify.svg">
  </label>
  <div class="mdl-textfield__expandable-holder header__search-textfield">
    <input class="mdl-textfield__input"
           type="text"
           id="search-input">
    <label class="mdl-textfield__label"
           for="search-input">Search...</label>

    <div class="header__search-results"
         id="search-results">
    </div>

  </div>
</div>
