<li class="nav-item dropdown mr-2">
  <a class="nav-link dropdown-toggle"
      href="#"
      id="navbarDropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
    Tags
  </a>
  <div class="dropdown-menu"
        aria-labelledby="navbarDropdownMenuLink">

    {{range $tag, $items := .Site.Taxonomies.tags}}
      <a class="dropdown-item"
        href="{{$.Site.BaseURL}}tags/{{$tag | urlize | lower}}">{{$tag | title}}</a>
    {{end}}

  </div>
</li>
