<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <base href="{{.Site.BaseURL}}">

  <title>
    {{block "title" .}}{{end}}
  </title>

  {{block "meta" .}}{{end}}

  <link rel="canonical"
        href="{{.Permalink}}">
  {{partial "head_imports.html" .}}
</head>

<body>
  <div class="page">
    {{partial "header/header.html" .}}
    <main>
      {{block "main" .}}{{end}}
    </main>
    {{partial "footer/footer.html" .}}
  </div>
  {{partial "dialogs.html" .}}
  {{partial "body_imports.html" .}}
</body>

</html>
