{{define "title"}}{{.Title}} - {{.Site.Title}}{{end}}

{{define "main"}}

{{$params := .Params}}
{{$data := .Site.Data}}

<div class="page__content page__content--post">
  <article class="page__section page__section--large">

    <h1 class="page__title">{{.Title}}</h1>

    {{partial "post/author.html" .}}

    {{partial "post/thumbnail.html" .}}

    {{.Content}}

    {{partial "post/actions.html" .}}

  </article>

  {{partial "post/newsletter.html" .}}

  {{partial "post/thread.html" .}}
</div>

{{end}}
