{{$author := index .Site.Data.authors .Params.Author}}

<div class="container my-4 d-flex justify-content-start">

  <div>
    <a href="/authors/{{$author.slug}}" class="decorated-link mb-2">
      <h4>{{$author.name}}</h4>
    </a>
    <p class="mb-2">
      {{$author.bio}}
    </p>
    <div class="social-links">
      <ul class="list-inline">

        {{with $author.social.twitter}}
        <li class="list-inline-item mr-0">
          <a class="muted-link" href="//twitter.com/{{.}}"><i class="fa fa-twitter fa-fw"></i></a>
        </li>
        {{end}}

        {{with $author.social.github}}
        <li class="list-inline-item mr-0">
          <a class="muted-link" href="//github.com/{{.}}"><i class="fa fa-github fa-fw"></i></a>
        </li>
        {{end}}

        {{with $author.social.facebook}}
        <li class="list-inline-item mr-0">
          <a class="muted-link" href="//facebook.com/{{.}}"><i class="fa fa-facebook fa-fw"></i></a>
        </li>
        {{end}}

        {{with $author.social.googlePlus}}
        <li class="list-inline-item mr-0">
          <a class="muted-link" href="//plus.google.com/{{.}}"><i class="fa fa-google-plus fa-fw"></i></a>
        </li>
        {{end}}

      </ul>
    </div>
  </div>

  <div class="ml-auto mb-auto">
    <img class="avatar my-auto rounded-circle"
         src="https://www.gravatar.com/avatar/{{$author.email | lower | md5}}?s=80"
         alt="{{$author.slug}}-avatar">
  </div>

</div>
