{{$author := (index .Site.Data.authors .Params.Author)}}

<meta name="title" content="{{.Title}}" />
<meta name="description" content="{{.Params.description}}" />

<meta property="article:published_time" content="{{dateFormat `2006-01-02T15:04:05.999Z07:00` .Date}}" />

<meta property="fb:app_id" content="{{.Site.Params.FacebookAppId}}" />
<meta property="og:title" content="{{.Title}}" />
<meta property="og:url" content="{{.Permalink}}" />
<meta property="og:image" content="{{.Site.BaseURL}}images/{{.Slug}}/thumbnail.jpg" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
<meta property="og:description" content="{{.Params.description}}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{.Site.Title}}" />

{{$keywords := .Params.keywords}}
<meta name="keywords" content="
{{- range $index, $kw := $keywords -}}
{{- $kw -}}{{if lt $index (sub (len $keywords) 1) }},{{end}}
{{- end -}}
">

{{$page_link := .Permalink}}
{{$tags := .Params.tags}}
{{range $page := .Site.Pages}}
  {{$has_common_tags := intersect $tags .Params.tags | len | lt 0}}
  {{if and $has_common_tags (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$total") 3)}}
    {{$.Scratch.Add "$total" 1}}
  {{end}}
{{end}}
{{range $page := .Site.Pages}}
  {{$has_common_tags := intersect $tags .Params.tags | len | lt 0}}
  {{if and $has_common_tags (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$c") 3)}}
    {{$.Scratch.Add "$c" 1}}
      <meta property="og:see_also" content="{{$page.Permalink}}" />
  {{end}}
{{end}}

<meta name="twitter:description" content="{{.Params.description}}" />
<meta name="twitter:image:src" content="{{.Site.BaseURL}}images/{{.Slug}}/thumbnail.jpg" />
<meta name="twitter:site" content="@tinrab" />
<meta name="twitter:card" content="summary_large_image" />
{{with $author.social.twitter}}
<meta name="twitter:creator" content="@{{.}}" />
{{end}}

<meta property="article:publisher" content="https://www.facebook.com/outcrawl" />
{{with $author.social.facebook}}
<meta property="article:author" content="{{.}}" />
{{end}}

<meta property="article:section" content="{{.Section}}" />
{{range .Params.tags}}
<meta property="article:tag" content="{{. | lower}}" />
{{end}}

<meta property="author" content="{{$author.name}}" />
<meta name="robots" content="index, follow" />
<meta property="al:web:url" content="{{.Permalink}}" />
<meta name="google" content="notranslate" />
