<div class="newsletter">

  <h4 class="newsletter__title">Subscribe!</h4>

  <p class="newsletter__subtitle">
    Get awesome posts delivered right to your doorstep
  </p>

  <div class="mdc-form-field newsletter__form">

    <div class="mdc-textfield newsletter__email-textfield">
      <input type="email" class="mdc-textfield__input newsletter__email-input" autocomplete="email" placeholder="Your email">
    </div>

    <button class="button button--raised newsletter__subscribe-button">Subscribe</button>

  </div>

</div>
