<div class="page__share">

  <a href="https://twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}"
     title="Share on Twitter"
     role="button"
     class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored share-button share-button--twitter">
    <img class="icon" src="/images/icons/twitter.svg">
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
     title="Share on Facebook"
     role="button"
     class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored share-button share-button--facebook">
    <img class="icon" src="/images/icons/facebook.svg">
  </a>

  <a href="https://plus.google.com/share?url={{ .Permalink }}"
     title="Share on Google+"
     role="button"
     class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored share-button share-button--google-plus">
    <img class="icon" src="/images/icons/google-plus.svg">
  </a>

</div>
