<div class="page__section page__section--large thread">

  <h2 class="thread__title">Comments</h2>

  <div class="thread__signed-in">
    <div class="textfield textfield--multiline">
      <textarea class="textfield__input thread__input" rows="4" placeholder="Say something..."></textarea>
    </div>
    <div class="thread__form">
      <img class="thread__user__avatar" src="http://lorempixel.com/24/24">
      <span class="thread__user__name">Tin Rabzelj</span> - <a href="#" class="link-button thread__sign-out-button">Sign out</a>
      <button class="button button--raised thread__post-button">Post</button>
    </div>
  </div>

  <div class="thread__signed-out">
    <div>Join the discussion.</div>
    <a href="#" class="link-button thread__sign-in-button">Sign in</a>
  </div>

  <div class="thread__comments">
  </div>

</div>
