<footer class="footer">
  <div class="footer__content">
    <a class="footer__logo"
       href="{{.Site.BaseURL}}">
      {{.Site.Title}}
    </a>

    <ul class="footer__links">
      <li>
        <a class="footer__link"
           href="{{.Site.BaseURL}}about"
           target="_blank">About</a>
      </li>
      <li>
        <a class="footer__link"
           href="{{.Site.BaseURL}}privacy"
           target="_blank">Privacy</a>
      </li>
    </ul>

    {{partial "footer/social.html" .}}

  </div>
</footer>
