<ul class="footer__social">
  <li>
    <a href="#" role="button" class="mdc-button mdc-button--dense mdc-button--icon">
      <img class="icon" src="/images/icons/twitter.svg">
    </a>
  </li>
  <li>
    <a href="#" role="button" class="mdc-button mdc-button--dense mdc-button--icon">
      <img class="icon" src="/images/icons/github.svg">
    </a>
  </li>
  <li>
    <a href="#" role="button" class="mdc-button mdc-button--dense mdc-button--icon">
      <img class="icon" src="/images/icons/facebook.svg">
    </a>
  </li>
</ul>
