.entry {
  height: 20rem;
}

.entry-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
}

.entry-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transition-duration: 300ms;
}

.entry-image {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.entry-meta {
  width: 100%;
}

.entry-title {
  font-size: 2.25rem;
}

@media(max-width: 991px) {
  .entry-title {
    font-size: 2rem;
  }
}

@media(max-width: 575px) {
  .entry-title {
    font-size: 2rem;
  }
}

.featured .entry-title {
  font-size: 3rem;
}

@media(max-width: 991px) {
  .featured .entry-title {
    font-size: 2.5rem;
  }
}

@media(max-width: 575px) {
  .featured .entry-title {
    font-size: 1.75rem;
  }
}
