.related .container {
  max-width: 60rem;
}

.related-entry {
  height: 14rem;
  color: #FFFFFF;
}

.related-entry-content {
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  height: 14rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
