.single .container {
  max-width: 42rem;
}

article blockquote p, article .alert p {
  margin: 0;
}


/* Section margins
----------------------- */

article p, article blockquote, article .img-fluid, article .alert, .share, article h1, article h2, article h3, article h4 {
  margin-bottom: 1.5rem;
}

#TableOfContents {
  margin-bottom: 2rem;
}

pre[class*="language-"] {
  margin: 0 0 1.5rem 0;
}


/* Code
---------------------- */

code {
  color: #212121;
  border-radius: 0.25rem;
}

code[class*="language-"], pre[class*="language-"], code {
  font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  tab-size: 2;
  line-height: 1.5rem;
  font-size: 0.85rem;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #F5F5F5;
}

pre[class*="language-"] {
  padding: 1rem 1.5em;
  margin-bottom: 1.5rem;
  overflow: auto;
  border-radius: 0.25rem;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: none;
}


/* Highlighted lines
--------------------- */

.line-highlight:before, .line-highlight[data-end]:before {
  top: 0.4rem;
}

.line-highlight:after, .line-highlight[data-end]:after {
  bottom: 0.4rem;
}

.line-highlight:before, .line-highlight:after, .line-highlight[data-end]:after, .line-highlight[data-end]:before {
  background: none;
  color: #9E9E9E;
  left: 0.05rem;
}

.line-highlight {
  background: rgba(0, 0, 0, 0.06);
  user-select: none;
  margin-top: 1rem;
}


/* Command line
------------------------ */

.command-line-prompt {
  border-right: none;
  margin-right: 0.5rem;
  letter-spacing: -1rem;
}


/* Share
----------------------- */

.share {
  font-size: 0.75rem;
}

.share .icon-link {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  border-radius: 50%;
}

.share .icon-link i {
  color: #FFFFFF;
}


/* Newsletter
---------------------- */

.newsletter {
  padding: 3rem 0;
}

.newsletter p {
  margin-bottom: 1.25rem;
}

.newsletter .input-group {
  margin-bottom: 1rem;
}

.newsletter .container {
  max-width: 24rem;
}

.newsletter .lead {
  font-size: 1.75rem;
  line-height: 2rem;
}
