article.container {
  max-width: 854px;
}

article p {
  margin-bottom: 1.25rem;
}

article img {
  margin-bottom: 1.25rem;
}

/* Author
---------------------- */


/* Code
---------------------- */
pre {
  tab-size: 2;
  padding: 1rem;
  background-color: #F5F5F5;
}

pre code {
  background: none;
}
