html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #212121;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.2);
}

.header {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
