html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 4rem;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  line-height: 1.5rem;
}


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575px) {
  html {
    font-size: 14px;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 16px;
  }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

.navbar {
  border-bottom: 1px solid #E0E0E0;
}

@media (max-width: 575px) {
  .navbar-toggleable-md > .container {
    margin-left: 0;
    margin-right: 0;
  }
  .navbar-toggleable-md {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .navbar-toggleable-md > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.navbar {
  font-size: 0.85rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  border-top: 1px solid #E0E0E0;
  font-size: 0.85rem;
}

.footer i {
  font-size: 1rem;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

thead th {
  border-bottom: 1px solid #E0E0E0;
}

hr {
  border-top: 1px solid #E0E0E0;
}
