html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #212121;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-top: 1px solid #E0E0E0;
}

@media (max-width: 575px) {
  .footer {
    font-size: 0.8rem;
  }
}

.header {
  border-bottom: 1px solid #E0E0E0;
}
