a {
  color: #1976D2
}

.muted-link {
  color: #616161;
  text-decoration: none
}

.text-muted {
  color: #616161 !important
}

.muted-link:hover, .muted-link:focus {
  color: #9E9E9E;
  text-decoration: none
}

.unstyled-link, .unstyled-link:hover, .unstyled-link:focus {
  color: inherit;
  text-decoration: none;
}

.decorated-link, .decorated-link:hover, .decorated-link:focus {
  color: inherit;
  cursor: pointer;
}

.decorated-link:hover, .decorated-link:focus {
  text-decoration: underline;
}

.page-item.active .page-link {
  background-color: #212121;
  border-color: #212121;
}

.page-link {
  color: #212121;
  border: 1px solid #E0E0E0;
}

.page-link:focus, .page-link:hover {
  color: #212121;
  background-color: #F5F5F5;
  border-color: #E0E0E0;
}

.navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
  color: #F5F5F5;
  outline: 5px auto #E0E0E0;
}

.navbar-light .navbar-toggler {
  border-color: #E0E0E0;
}

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-left: 0.25rem solid #E0E0E0;
}

.blockquote-footer {
  display: block;
  font-size: 1rem;
  color: #616161;
}

.jumbotron {
  background-color: #F5F5F5;
}


/* Utilities
------------------------------ */

.relative {
  position: relative;
}

.text-white-transparent {
  color: rgba(255, 255, 255, 0.7) !important;
}

.transparent {
  background-color: transparent !important
}

.background-cover-image {
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .mt-xs-2 {
    margin-top: 0.5rem !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .mt-sm-2 {
    margin-top: 0.5rem !important;
  }
}

.icon-link, .icon-link:hover, .icon-link:focus {
  text-decoration: none;
}


/* Alerts
-------------------------- */

.alert {
  margin: 0;
}

.alert-info {
  background:#212121;
  border: none;
  color: #FFFFFF;
}

.alert-success {
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
}

.alert-danger {
  background-color: #f44336;
  border: none;
  color: #FFFFFF;
}

.alert a {
  color: #FFFFFF;
  text-decoration: underline;
}

.alert a, .alert a:focus {
  color: #FFFFFF;
}

/* Buttons
-------------------------- */

.btn-primary {
  background-color: #212121;
  border-color: #212121;
}

.btn-primary:hover {
  background-color: #616161;
  border-color: #616161;
}

.btn-primary:focus {
  box-shadow: rgba(33, 33, 33, 0.5) 0px 0px 0px 2px;
}
