html {
  font-size: 16px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-text-size-adjust: 100%;

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

h1, h2, h3, h4, p, a {
  padding: 0;
  margin: 0;
  font-weight: 400;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Headings
h1 {
  font-size: 2.875rem;
  line-height: 3.5rem;
  font-weight: 300;
  letter-spacing: -.02em;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.54);
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 2.5rem 0 1.5rem 0;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  margin: 2rem 0 1.5rem 0;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin: 2rem 0 1.5rem 0;
}

// Text
h1, h2, h3, h4, p, code, ul, ol {
  cursor: text;
}

a {
  h1, h2, h3, h4, p {
    cursor: pointer;
  }
}

p, ul, ol, a, code {
  line-height: 1.6;
}

p {
  margin-bottom: 1rem;
}

ul, ol {
  line-height: 1.5;
}

a {
  color: #039be5;
  outline: 0;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// Components
blockquote {
  display: block;
  padding-right: 16px;
  padding-left: 16px;
  border-left: 4px solid #212121;
  margin-bottom: 1rem;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.note {
  display: block;
  padding: 16px;
  background-color: #212121;
  color: #fff;
  margin-bottom: 1rem;

   :last-child {
    margin: 0;
  }
}

.markdown {
  h4, h5, h6, p, img, hr, pre {
    margin: 0;
    padding: 0;
    font-weight: 400;
    width: 100%;
  }

  :last-child {
    margin-bottom: 0 !important;
  }

  h4 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 24px;
    line-height: 32px;
  }

  h6 {
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  p, img, h5, h6, pre {
    margin-bottom: 16px;
  }

  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.075);
  }

  pre, code {
    font-size: 14px;
    line-height: 20px;
  }

  code {
    padding: 2px 4px;
  }

  pre code {
    padding: 16px;
  }

  ul, ol {
    font-size: 16px;
    line-height: 24px;
  }
}
