.author {
  &__info {
    text-align: center;
  }

  &__avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid $gray-400;
    margin-bottom: 1rem;
  }

  &__name {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  &__bio {
    margin-bottom: 1rem;
  }

  &__mail {
    display: block;
    margin-bottom: 1rem;
  }

  &__social {
    margin-bottom: 1rem;
  }

  &__social-link {
    padding: 0.5rem;
  }

  &__social-icon {
    height: 1rem;
    fill: $gray-900;
  }

  &__article-month {
    font-size: 1.5rem;
  }

  &__article-title {
    font-size: 1rem;
  }
}
