.button {
  @extend .btn;

  &--primary {
    @extend .btn-primary;
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    padding: 0;

    svg {
      height: 1rem;
      width: auto;
      fill: $white;
    }
  }

  &--twitter {
    @include button-variant(#00aced, #00aced);
  }

  &--google-plus {
    @include button-variant(#d34836, #d34836);
  }

  &--facebook {
    @include button-variant(#3b5998, #3b5998);
  }
}
