.header {
  @extend .navbar;
  @extend .navbar-light;
  @extend .bg-light;

  &__brand {
    @extend .navbar-brand;
  }

  &__logo {
    display: inline-block !important;
    height: 30px;
    vertical-align: middle;
  }
}
