.page {
  @extend .container;
  @extend .py-sm-3;
  @extend .py-md-5;

  max-width: 720px;

  h1 {
    @extend .display-4;
  }

  &__image {
    @extend .img-fluid;
    margin: 0 auto $paragraph-margin-bottom auto;
    display: block;
  }

  &__note {
    @extend .alert;
    @extend .alert-success;
  }
}
