<div class="entry mb-3 text-white hidden-sm-up">

  <a class="w-100" href="{{.Permalink}}">
  {{with .Params.thumbnail}}
    {{if eq . "test"}}
    <div class="background-cover-image progressive__bg progressive--not-loaded"
         data-progressive="http://lorempixel.com/854/480?id={{$.Title | md5}}"
         style="background-image:url('http://lorempixel.com/854/480?id={{$.Title | md5}}')">
    </div>
    {{else}}
    <div class="background-cover-image progressive__bg progressive--not-loaded"
         data-progressive="/img/thumbnails/{{.}}.png"
         style="background-image:url('/img/thumbnails-small/{{.}}.png')">
    </div>
    {{end}}
  {{end}}
  </a>

  <div class="entry-content d-flex align-items-start flex-column">
    <a class="unstyled-link w-100" href="{{.Permalink}}">
      <h2 class="entry-title">{{.Title}}</h2>
    </a>
    <div class="w-100 mt-auto d-flex entry-meta">
      <img class="author-avatar my-auto rounded-circle"
                src="https://www.gravatar.com/avatar/{{index .Site.Data.authors .Params.Author `email` | lower | md5}}?s=50"
                alt="{{.Params.author}}-avatar">
      <div class="ml-2 my-auto">
        <a href="/author/{{index .Site.Data.authors .Params.Author `name` | urlize}}" class="decorated-link">{{index .Site.Data.authors .Params.author "name"}}</a>
        <div class="text-white-transparent">
          {{dateFormat `Jan 2, 2006` .Date}}
        </div>
      </div>
      <div class="mt-auto ml-auto">
        <a href="/category/{{index .Params.Categories 0 | urlize}}" class="decorated-link">{{index .Params.categories 0}}</a>
      </div>
    </div>
  </div>

</div>

<div class="entry mb-3 hidden-sm-down">
  
  <a class="entry-image" href="{{.Permalink}}">
  {{with .Params.thumbnail}}
    {{if eq . "test"}}
    <div class="background-cover-image progressive__bg progressive--not-loaded"
         data-progressive="http://lorempixel.com/854/480?id={{$.Title | md5}}"
         style="background-image:url('http://lorempixel.com/854/480?id={{$.Title | md5}}')">
    </div>
    {{else}}
    <div class="background-cover-image progressive__bg progressive--not-loaded"
         data-progressive="/img/thumbnails/{{.}}.png"
         style="background-image:url('/img/thumbnails-small/{{.}}.png')">
    </div>
    {{end}}
  {{end}}
  </a>

  <div class="entry-content d-flex align-items-start flex-column">
    <a class="unstyled-link w-100" href="{{.Permalink}}">
      <h2 class="entry-title">{{.Title}}</h2>
    </a>
    <div class="w-100 mt-auto d-flex entry-meta">
      <img class="author-avatar my-auto rounded-circle"
                src="https://www.gravatar.com/avatar/{{index .Site.Data.authors .Params.Author `email` | lower | md5}}?s=50"
                alt="{{.Params.author}}-avatar">
      <div class="ml-2 my-auto">
        <a href="/author/{{index .Site.Data.authors .Params.Author `name` | urlize}}" class="decorated-link">{{index .Site.Data.authors .Params.author "name"}}</a>
        <div class="text-muted">
          {{dateFormat `Jan 2, 2006` .Date}}
        </div>
      </div>
      <div class="mt-auto ml-auto">
        <a href="/category/{{index .Params.Categories 0 | urlize}}" class="decorated-link">{{index .Params.categories 0}}</a>
      </div>
    </div>
  </div>

</div>
