<div class="d-flex justify-content-start">

  <div>
    <h1 class="mb-3">{{.name}}</h1>
    <p class="mb-3">
      {{.bio}}
    </p>
    <div class="social-links">
      <ul class="list-inline">

        {{with .social.twitter}}
        <li class="list-inline-item mr-0">
          <a class="muted-link" href="//twitter.com/{{.}}">
            <img src="/images/icons/twitter.svg">
          </a>
        </li>
        {{end}}

        {{with .social.github}}
        <li class="list-inline-item mr-0">
          <a class="muted-link" href="//github.com/{{.}}">
            <img src="/images/icons/github.svg">
          </a>
        </li>
        {{end}}

        {{with .social.facebook}}
        <li class="list-inline-item mr-0">
          <a class="muted-link" href="//facebook.com/{{.}}">
            <img src="/images/icons/facebook.svg">
          </a>
        </li>
        {{end}}

        {{with .social.googlePlus}}
        <li class="list-inline-item mr-0">
          <a class="muted-link" href="//plus.google.com/{{.}}">
            <img src="/images/icons/google-plus.svg">
          </a>
        </li>
        {{end}}

      </ul>
    </div>
  </div>

  <div class="ml-auto mb-auto">
    <img class="avatar my-auto rounded-circle"
         src="https://www.gravatar.com/avatar/{{.email | lower | md5}}?s=160"
         alt="{{.slug}}-avatar">
  </div>

</div>
