{{define "main"}}

<div class="single" role="main">
  <article class="container mt-5">

    <h1 class="display-4 mb-2">{{.Title}}</h1>

    <div class="mb-2">
      <span class="text-muted">By</span> <a href="/authors/{{index .Site.Data.authors .Params.Author `name` | urlize}}" class="decorated-link">{{index .Site.Data.authors .Params.author "name"}}</a>
      <div class="text-muted float-right">{{dateFormat `Jan 2, 2006` .Date}}</div>
    </div>

    {{with .Params.thumbnail}}
      {{if eq . "test"}}
      <img class="img-fluid mb-2" src="http://lorempixel.com/854/480">
      {{else}}
      <img class="progressive__img progressive--not-loaded img-fluid mb-2" data-progressive="/img/thumbnails/{{.}}.png" src="/img/thumbnails-small/{{.}}.png" alt="{{.}}">
      {{end}}
    {{end}}

    {{partial "single/share.html" .}}

    {{.Content}}
    
    {{partial "single/tags_section.html" .}}

  </article>

  {{partial "single/author.html" .}}

  {{partial "single/newsletter.html" .}}

  {{partial "single/related.html" .}}

  {{partial "disqus.html" .}}

</div>

{{end}}
