.mdl-button {
  &--active {
    @extend .mdl-button:active;
  }

  &--dense {
    height: 32px;
    font-size: 13px;
    line-height: 32px;
  }

  &--compact {
    padding: 0 8px;
  }

  &--unelevated {
    @extend .mdl-button--raised;
    box-shadow: none;
  }

  &:disabled {
    .icon {
      fill: rgba(0, 0, 0, 0.26);
    }
  }
}
