pre, code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  color: $color-grey-900;
  background-color: $color-grey-100;
  tab-size: 2;
  hyphens: none;
}

pre {
  display: block;
  position: relative;
  overflow-x: hidden;

  .mdl-button[data-clipboard-text] {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

code {
  padding: 0.1rem 0.2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

pre code {
  padding: 16px;
  display: block;
  position: relative;
  overflow-x: auto;
  font-size: 14px;
  line-height: 20px;
}

// Colors
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

// Override thread comment styles
.token.comment {
  padding: 0;
  display: inline;
}

.token.punctuation {
  color: #999;
}

.namespace {
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
}

.token.italic {
}

.token.entity {
}

// Marked lines
.marked-line {
  display: inline-block;
  background-color: transparent;
  background: rgba(0, 0, 0, 0.05);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 60%, transparent);
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 16px;
}

.marked-line span {
  background: none !important;
}

// Terminal
.terminal {
  &:before {
    content: "$ ";
    color: $color-grey-700;
  }
}
