pre, code {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: $grey-900;
  background-color: $grey-50;
  tab-size: 2;
}

pre {
  display: block;
  margin: 0 0 1rem 0;
  position: relative;
  overflow-x: hidden;

  .icon-button {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
  }
}

code {
  padding: 0.1rem 0.2rem;
  overflow-x: auto;
}

pre code {
  padding: 1rem;
  display: block;
}

.hljs { }

.hljs-comment,
.hljs-quote {
  color: #757575;
}

.hljs-keyword {
  color: #1E88E5;
}

.hljs-selector-tag,
.hljs-subst {
  color: #333;
}

.hljs-number,
.hljs-title,
.hljs-section,
.hljs-literal,
.hljs-selector-id {
  color: #EF6C00;
}

.hljs-type,
.hljs-class {
  color: #e53935;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #8E24AA;
}

.hljs-string,
.hljs-doctag,
.hljs-regexp,
.hljs-link {
  color: #43A047;
}

.hljs-tag,
.hljs-symbol,
.hljs-bullet {
  color: #757575;
}

.hljs-name,
.hljs-attribute {
  color: #1E88E5;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #8E24AA;
}

.hljs-meta {
  color: #757575;
}

.hljs-deletion {
}

.hljs-addition {
}

.hljs-emphasis {
}

.hljs-strong {
}

.highlight-line {
  display: inline-block;
  background-color: $black-05;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 1rem;
}

.highlight-line span {
  background: none !important;
}
