.entry {
  @extend .mdl-shadow--2dp;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
  height: 20rem;

  &__thumbnail {
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &__content {
    padding: 1rem;
  }

  &__permalink {
    color: $text-color-primary;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.85rem;
    margin: 0 0 1rem 0;
    color: $text-color-primary;

    /*
    @include media-phone {
      font-size: 1.5rem;
    }
    */
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;

    &__avatar {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 0;
      margin-right: 1rem;
      border-radius: 50%;
      border: 1px solid $divider-color;
    }

    &__info {
      display: inline-flex;
      flex-direction: column;
      line-height: 1.5rem;
    }

    &__name {
      color: $text-color-primary;
      font-weight: 400;
    }
  }

  &__date {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $text-color-secondary;
  }
}
