.entry {
  @extend .mdc-card;
  height: 20rem;

  &__thumbnail {
    @extend .mdc-card__media;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &__content {
    @extend .mdc-card__primary;
  }

  &__permalink {
    text-decoration: none;
    @include mdc-theme-prop(color, text-primary-on-light);
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.85rem;
    margin: 0;
    margin-bottom: 16px;
    @include mdc-theme-prop(color, text-primary-on-light);

    @include media-phone {
      font-size: 1.5rem;
    }
  }

  &__author {
    @extend .mdc-list-item;
  }

  &__author-avatar {
    @extend .mdc-list-item__start-detail;
    width: 40px;
    height: 40px;
    margin-left: 0;
    margin-right: 16px;
    border-radius: 50%;
    border: 1px solid $grey-300;
  }

  &__author-info {
    @extend .mdc-list-item__text;
    line-height: 1.5rem;
  }

  &__author-name {
    @include mdc-theme-prop(color, text-primary-on-light);
  }

  &__date {
    @extend .mdc-list-item__text__secondary;
  }

}
