.fab {
  @extend .mdc-fab;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--mini {
    @extend .mdc-fab--mini;
  }

  &--plain {
    @extend .mdc-fab--plain;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $white;
  }

  &:disabled {
    .fab__icon {
      fill: $black-26;
    }
  }
}
