.mdl-mini-footer {
  flex: 1 0 auto;
  padding: 1rem 2rem;

  @media screen and (max-width: $layout-screen-size-threshold) {
    padding: 1rem;
  }

  &__link-list {
    font-size: 0.875rem;
  }

  &__right-section {
    display: inline-flex;
  }

  .mdl-logo {
    color: $footer-color;
  }

  .icon-link {
    margin: auto 0 auto 16px;

    .icon {
      fill: $footer-color;
    }
  }
}
