.mdl-layout__header {
  fill: $layout-header-text-color !important;
  display: flex !important;

  svg path, svg polygon {
    fill: $layout-header-text-color !important;
  }
}

.mdl-layout__header-row {
  padding: 0 2rem;

  @media screen and (max-width: $layout-screen-size-threshold) {
    padding: 0 1rem;
  }
}
