.icon-button {
  @extend .mdc-button;

  padding: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  min-width: 36px;

  font-size: 18px;
  font-weight: 500;
  @include mdc-theme-prop(color, text-primary-on-light);
  text-decoration: none !important;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
    line-height: 1;
    display: inline-block;
    @include mdc-theme-prop(fill, text-primary-on-light);
  }

  &--dense {
    @extend .mdc-button--dense;
    height: 32px;
    width: 32px;
    min-width: 32px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &:disabled {
    svg {
      @include mdc-theme-prop(fill, text-disabled-on-light);
    }
  }

}
