.link-button {
  @include mdc-theme-prop(color, text-secondary-on-light);
  display: inline-block;
  position: relative;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .04em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  box-sizing: border-box;
  -webkit-appearance: none;

  &:hover {
    text-decoration: none;
  }
}
