.markdown {
  color: $text-color-primary;
  font-size: 16px;

  h4, h5, h6, p, img, hr, pre {
    margin: 0;
    padding: 0;
    font-weight: 400;
    width: 100%;
    @include word-wrap;
  }

  :last-child {
    margin-bottom: 0 !important;
  }

  h4 {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 24px;
    line-height: 32px;
  }

  h6 {
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  p, img, h5, h6, pre {
    margin-bottom: 16px;
  }

  hr {
    border-top: 1px solid $divider-color;
  }

  pre, code {
    font-size: 14px;
    line-height: 20px;
  }

  code {
    padding: 2px 4px;
  }

  pre code {
    padding: 16px;
  }

  ul, ol {
    font-size: 16px;
    line-height: 24px;
  }
}
