.newsletter {
  position: relative;
  text-align: center;
  padding: 34px 0;

  &__title {
    font-weight: 500;
    font-size: 56px;
    margin-bottom: 32px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 24px;
    margin: 24px auto;
    max-width: 400px;
  }

  &__subscribe-button {
    margin-top: auto !important;
  }
}
