.newsletter {
  &__title {
    font-size: 3rem;
  }

  &__content {
    text-align: center;
  }

  &__lead {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  &__subscribe-button {
  }
}
