body {
  position: relative;
}

.page {
  width: 100%;
  height: 100%;

  &__content {
    @extend .mdl-grid;
    padding: 16px 0;
    max-width: 1024px;
    // footer height
    margin-bottom: 68px;

    @include media-xl-only {
      max-width: 1280px;
    }
  }

  &__section {
    @extend .mdl-cell;
    margin: 24px 8px;

    &--small {
      @extend .mdl-cell--6-col;
      @extend .mdl-cell--8-col-tablet;
    }

    &--large {
      @extend .mdl-cell--12-col;
    }
  }

  &__heading-link {
    color: $text-color-primary;
  }

  &__note {
    @extend .mdl-shadow--2dp;
    display: block;
    padding: 16px;
    background-color: $color-primary-hex;
    color: $text-color-primary-light;

    p {
      margin-bottom: 0 !important;
    }
  }

  &__embed {
    text-align: center;
  }

  &__figure {
    text-align: center;
    max-width: 100%;

    img {
      max-width: 100%;
    }

    &--fit {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  &__thumbnail, table {
    width: 100%;
  }

  &__thumbnail, &__figure, table, .latex--block, blockquote, &__note, &__embed, p, pre {
    margin-bottom: 1rem;
  }
}
