.progressive {

  &--not-loaded {
    filter: blur(24px);
  }

  &--loaded {
    animation: sharpen 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes sharpen {
  from {
    filter: blur(24px);
  }
  to {
    filter: blur(0px);
  }
}
