.tag {
  background: $black-87;
  color: $white;
  border-radius: 8px;
  display: inline-block;
  padding: 10px;
  text-decoration: none !important;
  position: relative;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
