// Colors
$black-02: rgba(0, 0, 0, 0.02);
$black-05: rgba(0, 0, 0, 0.05);
$black-10: rgba(0, 0, 0, 0.10);
$black-20: rgba(0, 0, 0, 0.20);
$black-26: rgba(0, 0, 0, 0.26);
$black-54: rgba(0, 0, 0, 0.54);
$black-87: rgba(0, 0, 0, 0.87);
$black: #000;

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$blue-400: #42A5F5;

$white-50: rgba(255, 255, 255, .5);
$white: #fff;

// Override MDC colors
$mdc-theme-primary: $grey-900;
$mdc-theme-accent: #76ff03;
$mdc-theme-background: $white;

// Media
$media-desktop-min: 840px;
$media-tablet-min: 480px;
$media-tablet-max: 839px;
$media-phone-max: 479px;

// Charts
$ct-text-color: $black-54;
$ct-text-size: 0.875rem;
$ct-series-names: (a, b, c, d, e);
$ct-series-colors: (
  #42A5F5,
  #ef5350,
  #FFA726,
  #66BB6A,
  #AB47BC
);

// Page
$home-max-width: 900px;

// Post
$post-max-width: 720px;
$post-font-size: 1.125rem;
$post-element-margin: 1.25rem;
