html {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;

  @include media-lg-only {
    font-size: 18px;
  }

  @include media-xl-only {
    font-size: 21px;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-weight: 400;
  @include word-wrap;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.35;
  margin: 0 0 2rem 0;
}

h2 {
  font-size: 2.75rem;
  line-height: 3rem;
  margin: 3rem 0 2rem 0;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 2.5rem 0 2rem 0;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0 1.5rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

address {
  font-size: pixel-to-rem(12);
  line-height: 1;
  font-style: normal;
}

ul, ol {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: $text-link-color;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong, b {
  font-weight: 700;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

table {
  @extend .mdl-data-table;
  @extend .mdl-shadow--2dp;

  th:not([align]), td:not([align]) {
    text-align: left;
  }
}

blockquote {
  margin: 0;
  padding-left: 16px;
  border-left: 4px solid $color-primary-hex;

  cite {
    display: block;
  }
}

figure, figcaption {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}
