html {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  font-weight: 400;
  @include word-wrap;
}

h1 {
  font-size: 56px;
  line-height: 1.35;
  margin-top: 24px;
  margin-bottom: 24px;
}

h2 {
  font-size: 45px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  font-size: 34px;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 24px;
  margin-bottom: 16px;
}

h5 {
  font-size: 20px;
  line-height: 1;
  margin-top: 24px;
  margin-bottom: 16px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
}

address {
  font-size: 12px;
  line-height: 1;
  font-style: normal;
}

ul, ol {
  font-size: 1rem;
  line-height: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: $text-link-color;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong, b {
  font-weight: 700;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

table {
  @extend .mdl-data-table;
  @extend .mdl-shadow--2dp;

  th:not([align]), td:not([align]) {
    text-align: left;
  }
}

blockquote {
  margin: 0;
  padding-left: 16px;
  border-left: 4px solid $color-primary-hex;

  cite {
    display: block;
  }
}
