@import 'bootstrap';

.entry {
  position: relative;
  border: none;
  height: 20rem;
  .entry-title {
    font-size: 1.2rem;
  }
  .avatar {
    width: 50px;
    height: 50px;
  }
  .entry-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .entry-meta {
    line-height: 1.25rem;
    font-size: 0.9rem;
  }
}

@include media-breakpoint-only(xs) {
  .entry {
    height: 10rem;
    .avatar {
      width: 40px;
      height: 40px;
    }
  }
  .entry-title {
    font-size: 1.25rem;
  }
}

@include media-breakpoint-only(sm) {
  .entry {
    height: 15rem;
    .avatar {
      width: 40px;
      height: 40px;
    }
  }
  .entry-title {
    font-size: 1.75rem;
  }
  .entry-content {
    padding: 1rem;
  }
}

@include media-breakpoint-only(md) {
  .entry-title {
    font-size: 1.75rem;
  }
}

@include media-breakpoint-only(lg) {
  .entry-title {
    font-size: 2rem;
  }
}

@include media-breakpoint-only(xl) {
  .entry-title {
    font-size: 2.5rem;
  }
}
