@import 'bootstrap';
@import 'theme';

.profile {

@include media-breakpoint-only(xs) {
  .avatar {
    width: 80px;
    height: 80px;
  }
}

@include media-breakpoint-only(sm) {
  .avatar {
    width: 80px;
    height: 80px;
  }
}

@include media-breakpoint-only(md) {
  .avatar {
    width: 100px;
    height: 100px;
  }
}

@include media-breakpoint-only(lg) {
  .avatar {
    width: 100px;
    height: 100px;
  }
}

@include media-breakpoint-only(xl) {
  .avatar {
    width: 120px;
    height: 120px;
  }
}

}
