@import 'bootstrap';
@import 'theme';

.single .container {
  max-width: 42rem;
}

article {
  blockquote p, .alert p {
    margin: 0;
  }
}

/* Section margins
----------------------- */

article {
  p, .alert {
    margin-bottom: 1rem;
  }
}

article {
  h1, h2, h3, h4 {
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
  }
}

pre[class*="language-"] {
  margin: 0 0 1.5rem 0;
}


/* Code
---------------------- */

code {
  font-family: 'Roboto Mono', monospace;
  color: $dark;
  border-radius: 0.25rem;
  background: #F5F5F5;
}

code[class*="language-"], pre[class*="language-"], code {
  font-family: 'Roboto Mono', monospace;
  tab-size: 2;
  line-height: 1.5rem;
  font-size: 0.85rem;
}

pre[class*="language-"] {
  padding: 1rem 1.5em;
  margin-bottom: 1.5rem;
  overflow: auto;
  border-radius: 0.25rem;
  background: #F5F5F5;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: none;
}


/* Highlighted lines
--------------------- */
.line-highlight {
  background: rgba(0, 0, 0, 0.06);
  user-select: none;
  margin-top: 1rem;
  &:before, &[data-end]:before {
    top: 0.5rem;
  }
  &:after, &[data-end]:after {
    bottom: 0.2rem;
  }
  &:before, &:after, &[data-end]:after, &[data-end]:before {
    background: none;
    color: #9E9E9E;
    left: 0.05rem;
  }
}

/* Command line
------------------------ */

.command-line-prompt {
  border-right: none;
  margin-right: 0.5rem;
  letter-spacing: -1rem;
}


/* Share
----------------------- */
.share {
  .icon-link {
    font-size: 0.75rem;
    line-height: 1.75rem;
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    border-radius: 50%;
    i {
      color: #FFFFFF;
    }
  }
}

/* Newsletter
---------------------- */

.newsletter {
  padding: 3rem 0;
  p {
    margin-bottom: 1.25rem;
  }
  .input-group {
    margin-bottom: 1rem;
  }
  .container {
    max-width: 24rem;
  }
  .lead {
    font-size: 1.75rem;
    line-height: 2rem;
  }
}

/* Related entries
---------------------- */
.related .entry-content {
  padding: 0.75rem;
}

@include media-breakpoint-only(xs) {
  .related .entry-title {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-only(sm) {
  .related .entry-title {
    font-size: 2rem;
  }
}

@include media-breakpoint-only(md) {
  .related .entry-title {
    font-size: 2rem;
  }
}

@include media-breakpoint-only(lg) {
  .related .entry-title {
    font-size: 2rem;
  }
}

@include media-breakpoint-only(xl) {
  .related .entry-title {
    font-size: 2rem;
  }
}
