@import 'bootstrap';
@import 'theme';

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 10rem;
  font-family: $font;
  color: $gray900;
  line-height: 1.5rem;
}

@include media-breakpoint-only(xs) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-only(md) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-only(lg) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-only(xl) {
  html {
    font-size: 18px;
  }
}

.navbar {
  border-bottom: 1px solid $gray300;
  font-size: 0.85rem;
}

.navbar-brand {
  margin: 0;
  svg {
    vertical-align: middle;
  }
}

@include media-breakpoint-down(xs) {
  .navbar-toggleable-md > .container {
    margin-left: 0;
    margin-right: 0;
  }
}

#search-dropdown {
  width: 100%;
  .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@include media-breakpoint-up(md) {
  #search-dropdown {
    left: initial;
    right: 0;
    min-width: 20rem;
  }
}

.page-container .container {
  max-width: 42rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $gray300;
  font-size: 0.85rem;

  i {
    font-size: 1rem;
  }
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

thead th {
  border-bottom: 1px solid $gray300;
}

hr {
  border-top: 1px solid $gray300;
}

.icon-link {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;

  svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}
