@import 'bootstrap';

/* Colors */
$red500: #f44336;

$green500: #4CAF50;

$blue700: #1976D2;

$gray900: #212121;
$gray700: #616161;
$gray500: #9E9E9E;
$gray600: #757575;
$gray300: #E0E0E0;
$gray100: #F5F5F5;
$white: #FFFFFF;

a {
  color: $blue700;
}

.muted-link {
  color: $gray600;
  text-decoration: none
}

.text-muted {
  color: $gray700 !important
}

.bg-muted {
  background-color: $gray700 !important;
}

.bg-inverse {
  background-color: $gray900 !important;
}

.muted-link:hover, .muted-link:focus {
  color: $gray500;
  text-decoration: none
}

.unstyled-link, .unstyled-link:hover, .unstyled-link:focus {
  color: inherit;
  text-decoration: none;
}

.decorated-link, .decorated-link:hover, .decorated-link:focus {
  color: inherit;
  cursor: pointer;
}

.decorated-link:hover, .decorated-link:focus {
  text-decoration: underline;
}

.page-item.active .page-link {
  background-color: $gray900;
  border-color: $gray900;
}

.page-link {
  color: $gray900;
  border: 1px solid $gray300;
}

.page-link:focus, .page-link:hover {
  color: $gray900;
  background-color: $gray100;
  border-color: $gray300;
}

.navbar-light .navbar-toggler:focus, .navbar-light .navbar-toggler:hover {
  color: $gray100;
  outline: 5px auto $gray300;
}

.navbar-light .navbar-toggler {
  border-color: $gray300;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $gray900;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: $gray300;
}

.blockquote {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-left: 0.25rem solid $gray300;
}

.blockquote-footer {
  display: block;
  font-size: 1rem;
  color: $gray700;
}

.jumbotron {
  background-color: $gray100;
  margin: 0;
}

.form-control:focus {
  border-color: $gray700;
}

/* Utilities
------------------------------ */
/*-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" */
$font: 'Roboto', sans-serif;
/*"SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace */
$monospaceFont: 'Roboto Mono', monospace;

.relative {
  position: relative;
}

.text-white-transparent {
  color: rgba(255, 255, 255, 0.7) !important;
}

b, strong {
  font-weight: 700;
}

.transparent {
  background-color: transparent !important
}

.background-cover-image {
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

@include media-breakpoint-only(xs) {
  .mt-xs-2 {
    margin-top: 0.5rem !important;
  }
}

@include media-breakpoint-only(sm) {
  .mt-sm-2 {
    margin-top: 0.5rem !important;
  }
}

.icon-link, .icon-link:hover, .icon-link:focus {
  text-decoration: none;
}


/* Alerts
-------------------------- */

.alert {
  margin: 0;
}

.alert-info {
  background:$gray900;
  border: none;
  color: $white;
}

.alert-success {
  background-color: $green500;
  border: none;
  color: $white;
}

.alert-danger {
  background-color: $red500;
  border: none;
  color: $white;
}

.alert {
  a {
    color: $white;
    text-decoration: underline;
  }
  a:focus {
    color: $white;
  }
}

/* Buttons
-------------------------- */

.btn-primary {
  background-color: $gray900;
  border-color: $gray900;

  &:hover {
    background-color: $gray700;
    border-color: $gray700;
  }

  &:focus {
    box-shadow: lighten($gray900, 10%);
  }
}
