<div class="mb-3 mt-4 d-flex">

<ul class="list-inline m-0">
{{ range .Params.tags }}
  <a href="/tags/{{. | urlize}}" role="button" class="list-inline-item btn btn-secondary btn-sm" title="{{.}}">{{ . }}</a>
{{ end }}
</ul>

<div class="share m-0 ml-auto">
  <a class="icon-link mr-1"
    href="//twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}"
    style="background-color:#32CCFE"
    title="Share on Twitter">
    <i class="fa fa-twitter fa-fw"></i>
  </a>
  <a class="icon-link mr-1"
    href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
    style="background-color:#3B5998"
    title="Share on Facebook">
    <i class="fa fa-facebook fa-fw"></i>
  </a>
  <a class="icon-link mr-1"
    href="//plus.google.com/share?url={{ .Permalink }}"
    style="background-color:#dd4b39"
    title="Share on Google+">
    <i class="fa fa-google-plus fa-fw"></i>
  </a>
</div>

</div>
