<div class="mb-2 d-flex align-items-center">
  <div>
    <a class="decorated-link" href="/authors/{{index .Site.Data.authors .Params.Author `name` | urlize}}"
       title="{{index .Site.Data.authors .Params.Author `name`}}">
       {{index .Site.Data.authors .Params.author "name"}}
    </a><span class="text-muted ml-1 small">{{dateFormat `Jan 2, 2006` .Date}}</span>
  </div>

  <div class="share ml-auto">
    <a class="icon-link mr-1"
       href="//twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}"
       style="background-color:#32CCFE"
       title="Share on Twitter">
      <i class="fa fa-twitter fa-fw"></i>
      <img src="/images/icons/twitter.svg">
    </a>
    <a class="icon-link mr-1"
       href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
       style="background-color:#3B5998"
       title="Share on Facebook">
      <i class="fa fa-facebook fa-fw"></i>
    </a>
    <a class="icon-link mr-1"
       href="//plus.google.com/share?url={{ .Permalink }}"
       style="background-color:#dd4b39"
       title="Share on Google+">
      <i class="fa fa-google-plus fa-fw"></i>
    </a>
  </div>

</div>
