<div class="newsletter jumbotron jumbotron-fluid mb-4">
  <div class="container">
    <h4 class="text-center display-4">Subscribe!</h4>
    <p class="lead text-center">
      Get awesome posts delivered right to your doorstep
    </p>

    <div class="input-group">
      <input class="form-control"
             type="email"
             name="email"
             placeholder="Enter your email"
             id="email-input">
      <span class="input-group-btn">
        <button id="subscribe-button" type="button" class="btn btn-primary">Subscribe</button>
      </span>
    </div>

    <div id="newsletter-success"
         class="alert alert-success"
         role="alert"
         style="display:none">
      You successfully subscribed. See you soon!
    </div>

    <div id="newsletter-error"
         class="alert alert-danger"
         role="alert"
         style="display:none">
      Oh snap! Something went wrong.
    </div>

  </div>
</div>
