<div class="newsletter jumbotron jumbotron-fluid mb-4">
  <div class="container">
    <p class="lead text-center"><strong>Subscribe</strong> to get more awesome articles delivered right to your doorstep!</p>

    <div class="input-group">
      <input class="form-control"
             type="email"
             name="email"
             placeholder="Enter your email"
             id="emailInput">
      <span class="input-group-btn">
        <button id="subscribeButton" type="button" class="btn btn-primary">Subscribe</button>
      </span>
    </div>

    <div id="newsletterSuccess"
         class="alert alert-success"
         role="alert"
         style="display:none">
      You successfully subscribed. See you soon!
    </div>

    <div id="newsletterError"
         class="alert alert-danger"
         role="alert"
         style="display:none">
      Oh snap! Something went wrong.
    </div>

  </div>
</div>
