{{$page_link := .Permalink}}
{{$tags := .Params.tags}}
{{$pages := where .Site.RegularPages "Type" "post"}}

{{$.Scratch.Set "$total" 0}}
{{ range $page := $pages }}
  {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
  {{ if and $has_common_tags (not .Draft) (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$total") 3)}}
    {{ $.Scratch.Add "$total" 1 }}
  {{ end }}
{{ end }}

<div class="related">
  <div class="container">
    <div class="row">

{{$.Scratch.Set "$c" 0}}
{{ range $page := $pages }}
  {{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
  {{ if and $has_common_tags (not .Draft) (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$c") 3)}}
    {{ $.Scratch.Add "$c" 1 }}
    {{if eq ($.Scratch.Get "$total") 3}}
      <div class="col-md-4 p-1">
    {{end}}
    {{if eq ($.Scratch.Get "$total") 2}}
      <div class="col-md-6 p-1">
    {{end}}
    {{if eq ($.Scratch.Get "$total") 1}}
      <div class="col-md-12 p-1">
    {{end}}
    {{partial "entry.html" $page}}
      </div>
  {{ end }}
{{ end }}

    </div>
  </div>
</div>
