<div class="mt-4 d-flex justify-content-start share">
  <strong class="my-auto mr-2">Share</strong>
  <a class="icon-link mr-1"
      href="//twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}"
      style="background-color:#32CCFE"
      title="Share on Twitter">
    <img src="/images/icons/twitter.svg">
  </a>
  <a class="icon-link mr-1"
      href="//www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
      style="background-color:#3B5998"
      title="Share on Facebook">
    <img src="/images/icons/facebook.svg">
  </a>
</div>
