{{if .Get "src"}}
<figure class="page__figure {{if ne (.Get `fit`) `false`}}page__figure--fit{{end}}">
  <img src="{{.Get `src`}}" alt="{{.Get `src`}}">
  {{with .Get "caption"}}
  <figcaption>{{.}}</figcaption>
  {{end}}
</figure>
{{else}}
<figure class="page__figure {{if ne (.Get `fit`) `false`}}page__figure--fit{{end}}">
  {{if eq (.Get "simple") "true"}}
  <img src="{{.Site.BaseURL}}images/{{.Page.Slug}}/{{.Get `name`}}"
    alt="{{.Get `name`}}">
  {{else}}
  <img class="progressive progressive--image progressive--not-loaded"
    src="{{.Site.BaseURL}}images/{{.Page.Slug}}/small-{{.Get `name`}}"
    data-final-image="{{.Site.BaseURL}}images/{{.Page.Slug}}/{{.Get `name`}}"
    alt="{{.Get `name`}}">
  {{end}}
  {{with .Get "caption"}}
  <figcaption>{{.}}</figcaption>
  {{end}}
</figure>
{{end}}
