<footer class="footer text-muted">
  <div class="container d-flex h-100 align-items-center">

    <div>Copyright &copy; 2017 John Doe. All Rights Reserved.</div>

    <div class="ml-auto my-auto">
      <a class="muted-link"
          href="#">
        <i class="fa fa-twitter fa-fw"></i>
      </a>
      <a class="muted-link"
          href="#">
        <i class="fa fa-github fa-fw"></i>
      </a>
      <a class="muted-link"
          href="#">
        <i class="fa fa-facebook fa-fw"></i>
      </a>
    </div>

  </div>
</footer>
