<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">

<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/css/progressively.css">

<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/entry.css">
<link rel="stylesheet" href="/css/single.css">
<link rel="stylesheet" href="/css/author.css">

{{if eq .Type "post"}}
{{if (in .Params.imports "katex")}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
{{end}}
{{end}}
