{{define "title"}}Page not found - {{.Site.Title}}{{end}}

{{define "main"}}

<div class="page-container" role="main">

  <div class="container py-5">
    <h1 class="text-center mb-3">You have encountered a 404!</h1>
    <p class="lead text-center">
      It's dangerous to go alone! Take this.
    </p>

    <div class="row">
    {{$posts := first 3 (where .Site.RegularPages "Type" "post")}}
    {{range $posts}}
      {{if eq (len $posts) 3}}
      <div class="col-md-4 p-1">
      {{end}}
      {{if eq (len $posts) 2}}
      <div class="col-md-6 p-1">
      {{end}}
      {{if eq (len $posts) 1}}
      <div class="col-md-12 p-1">
      {{end}}
      {{partial "entry.html" .}}
      </div>
    {{end}}
    </div>

  </div>

</div>

{{end}}
